<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/CODE/AT18_TAF">
        <classes>
            <class name="org.nnn.demos.DownloadTest">
                <methods>
                    <include name="DwTest"/>
                </methods>
            </class>
            <class name="org.nnn.login.LoginHappyPathTests">
                <methods>
                    <include name="verifyUserCanNavigateToLoginPage"/>
                </methods>
            </class>
            <class name="org.nnn.reg.RegistrationHappyPathsTests">
                <methods>
                    <include name="verifyUserCanRegisterWithValidData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>